/* src/components/ProjectList.css */

.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Adjust gap and columns for smaller screens */
  @media (max-width: 768px) {
    .project-list {
      width: 95%;
      padding: 15px 10px;
      gap: 20px;
    }
  }
  
  @media (max-width: 480px) {
  .project-list {
    width: 100%;
    max-width: 100%;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 0;
    margin: 0;
    }
  }