body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
  box-sizing: inherit;
}

header {
  background-color: #f0f0f0;
  color: #fff;
  padding: 1rem;
  text-align: center;
  width: 100%;
}

nav {
  margin-bottom: 2rem;
  width: 100%;
  padding: 0 1rem;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
}


main {
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
}

footer {
  background-color: transparent;
  color: black;
  text-align: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  bottom: 0;
}
